
.frases{
    background-color: #435233;
}
.participacion{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotocliente img{
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 10px 9px #000;
    transition: transform 0.5s ease;
    padding: 10px;
}
.frase h3{
    font-family: "Playfair", serif;
    font-size: 30px;
    line-height: 20px;
    padding-bottom: 10px;
    color: #FDFCE8;
    line-height: 30px;
    .frases img{
    width: 280px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 10px 9px 2px rgba(0, 0, 0, 0.1);
}
}
.frase p{
    
    color: #c7c6b6;
}

@media (max-width: 620px) {
 
  .participacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
  }
  .participacion img{
    width: 40px;
  }
  .fotocliente img{
    width: 200px;
  }
  .frase{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}