*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    background-color: #FDFCE8;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-effect {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 3px;
}

header{
    width: 100%;
    height: 90vh;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDFCE8;
    top: 0;
    z-index: 100;
}
.logo{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
.navbar{
    width: 100%;
    margin-right: 20px;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.navbar li{
    padding: 10px;
}
.navbar a{
    font-family:"Poppins", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.portadaarriba{
    background-color: #435233;
    backdrop-filter: blur(2px);
    height: 50vh;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    padding-left: 50px;
    
}
.portadaarriba h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
    font-size: 68px;
    color: #FDFCE8;
    margin-bottom: 20px;
}
.portadaabajo{
    background-color: #FDFCE8;
    padding-left: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.portadaabajo h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 70px;
    font-style: normal;
    font-size: 70px;
    color: #31352E;
}
.portadaabajo h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 70px;
    font-style: normal;
    font-size: 70px;
    color: #31352E;
}
.portadaabajo img{
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
}

@media (max-width: 620px) {
    .menu-toggle {
        display: flex;
    }
    .navbar{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .navbar ul {
        display: none;
    }
    .navbar ul.active {
        width: 60%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 100;
        top: 0;
        position:absolute;
        flex-direction: column;
        background-color: #FDFCE8;
        box-shadow: 0px 0px 30px #000;
        margin-top: 15vh;
  }
    
  .navbar li {
        text-align: center;
  }
  .navbar li:hover{
    background-color: #435233;
  }
}