.instagram{
    display: flex;
    flex-direction: column;
    background: #FDFCE8;
    width: 100%;
    height: auto;
}
.instagram h2{
    padding-left: 20px;
    font-size: 40px;
    color: #435233;
}
.instagram img{
    width: 40px;
}
.instagram a{
    padding-left: 20px;
    padding-top: 10px;
}
.igfotos{
    display: grid;
    position: relative;
    grid-template-columns: 
    repeat(auto-fit, minmax(150px, 1fr));
    gap: 3px;
    margin-top: 30px;
    align-items: center;
    justify-items: center;
}
.igfotos img{
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.igfotos img:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
}