.instagram{
    display: flex;
    flex-direction: column;
    background: #FDFCE8;
    width: 100%;
    height: auto;
}
.instagram h2{
    padding-left: 20px;
    font-size: 37px;
    color: #435233;
    text-transform: uppercase;
    text-decoration: underline;
}
.instagram img{
    width: 40px;
}
 .logoig {
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logoig button:hover{
    background: #435233;
    color: #FDFCE8;
}
.logoig button{
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.igfotos{
    display: grid;
    position: relative;
    grid-template-columns: 
    repeat(auto-fit, minmax(150px, 1fr));
    gap: 3px;
    padding: 10px;
    margin-top: 30px;
    align-items: center;
    justify-items: center;
}
.igfotos img{
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.igfotos img:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
}