.instagram{
    background: #FDFCE8;
    width: 100%;
    height: 80vh;
}
.instagram h2{
    padding-left: 20px;
    font-size: 40px;
    color: #435233;
}
.igfotos{
    display: flex;
    position: relative;
    grid-template-columns: 
    repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 30px;
    justify-items: center;
    justify-content: space-around;
}
.igfotos img{
    width: 20%;
    height: auto;
    align-items: center;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.igfotos img:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
}