.containerspoti{
    width: 100%;
    height: 110vh;
    background: url(./img/background/ladrillos.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playlist{
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
}
.sp{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.sp h3{
    font-size: 51px;
    color: #FDFCE8;

}
.sp img{
    width: 80px;
    margin: 10px;
}
.fotosp{
    display: flex;
    align-items: center;
    
}
.fotosp img{
    width: 40vh;
    object-fit: cover;
    box-shadow: 0px 0px 30px #000;
    transition: transform 0.5s ease;
}
.fotosp img:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
}
.fotosp .btn{
    color: #FDFCE8;
    margin: 20px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
a h4{
    color: #FDFCE8;
    font-size: 20px;
    box-shadow: 0px 10px 30px #000;
}
@media (max-width: 620px) {
    .containerspoti{
    width: 100%;
    height: 110vh;
    background: url(./img/background/ladrillos.jpg);
    background-position:center;
    background-attachment:local;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .playlist{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .fotosp{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .fotosp img{
    width: 25vh;
    object-fit: cover;
    box-shadow: 0px 0px 30px #000;
    transition: transform 0.5s ease;
    }
    .fotosp img:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
    }
    .sp{
        padding: 0 ;
        align-items: center;
    }
    .sp h3   {
        font-size: 30px;
        padding-top: 10px;
    }
}